<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bruin Entrepreneurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../public/css/responsive2.css">
    <style>

    </style>
  </head>
  <body>
    <div class = "landing-page">
      <div class = "left-align">
        <div class = "header-container">
          <h1>WE ARE</h1>
          <h2>BRUIN<span style = "color: #ffffff">ENTREPRENEURS.</span></h2>
          <a href="#about"><button id = "join-button">LEARN MORE</button></a>
        </div>
      </div>

      <div class = "right-align">
        <div class="top"></div>  
        <div class="bottom"></div>   
      </div>
    </div>



    <div class = "second-page" id = "about">
      <div class = "left-align">

      </div>
      <div class = "right-align">
        <div class = "text-box">
          <h3>BRUIN ENTREPRENEURS IS</h3>
          <p>
            Bruin Entrepreneurs was created in 2012 to promote entrepreneurialism at UCLA. We organize three main programs every year, each with their respective boards: LA Hacks, bVentures, and Creative Labs. Along with these, we host entrepreneurial-related networking events, workshops, and speaker nights every week, designed to spark innovative dialogue between a diverse group of students.
          </p>
          <p>
            Within the Bruin Entrepreneur family live a variety of different initiatives.  We have Creative Labs - for the creatively inclined, Startup Labs - for the students interested in being involved in startups, Tech Fellows - for the students who want to work in the LA startup community, and 1000 pitches - an initiative that is designed to promote entrepreneurial thought thoughout UCLA by getting students to pitch ideas.
          </p>
        </div>
      </div>

    </div>

    <div class = "third-page">
      <div class = "left-align">
        <div class = "text-box">

          <div class = CL-cont>          
            <div class = "rectangleCL wide">
              <a href="http://uclacreatives.github.io/"><h4>CREATIVE</h4></a>
            </div>
            <div class = "rectangleCL narrow">
              <a href="http://uclacreatives.github.io/"><h4>LABS</h4></a>
            </div>  
          </div>
 

          <div class = "LA-cont">
            <div class = "rectangleLAHACKS wide">
              <a href="lahacks.com"><h4>LA HACKS</h4></a>
            </div>
          </div>
 

        <div class = ST-cont>
            <div class = "rectangleCL wide">
              <a href="http://startuplabs.bruinentrepreneurs.org/"><h4>STARTUP</h4></a>
            </div>
            <div class = "rectangleCL narrow">
              <a href="http://startuplabs.bruinentrepreneurs.org/"><h4>LABS</h4></a>
            </div>         
        </div>


        </div>
      </div>  <!-- end of left align -->


      <div class = "right-align">
      </div>
    </div>



    <div class = "fourth-page">
      <div class = "join-us-box">
        <div class = "title-cont">
          <h5>JOIN US.</h5>
        </div>
        <div class = "p-cont">
          <p>Sign up to get notified when we have a workshop, speaker, or social! </p>
        </div>
        <div class="sign-up-cont">
          <div class="sign-up">
            <form id="emailForm">
              <input class = "text-input" type="text" name = "emailform">
              <input class = "button" type="submit"> 
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class = "footer">
      <div class = "link-container">
        <div class="link-child">
          <a href="#about"><h6>ABOUT US</h6></a>
        </div>
        <div class="link-child">
          <a href="http://startuplabs.bruinentrepreneurs.org/"><h6>STARTUP LABS</h6></a>
        </div>
        <div class="link-child">
          <a href="lahacks.com"><h6>LA HACKS</h6></a>
        </div>
        <div class="link-child">
          <a href="http://uclacreatives.github.io/"><h6>CREATIVE LABS</h6></a>
        </div>
        <div class="link-child">
          <a href="http://fellows.tech.la/"><h6>FELLOWSHIP</h6></a>
        </div>
      </div>

      <div class = "footer-title-cont">
        <h2>BRUIN <span style = "color: #ffffff">ENTREPRENEURS.</span></h2>
        <p>Made with love from <span style="color:#F2758F">LA</span></p>
      </div>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>