<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bruin Entrepreneurs</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/css/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="../public/css/responsive2.css">
    <style>

    </style>
  </head>
  <body>



    <div class = "footer">
      <div class = "link-container">
        <div class="link-child">
          <a href="#about"><h6>ABOUT US</h6></a>
        </div>
        <div class="link-child">
          <a href="http://startuplabs.bruinentrepreneurs.org/"><h6>STARTUP LABS</h6></a>
        </div>
        <div class="link-child">
          <a href="lahacks.com"><h6>LA HACKS</h6></a>
        </div>
        <div class="link-child">
          <a href="http://uclacreatives.github.io/"><h6>CREATIVE LABS</h6></a>
        </div>
        <div class="link-child">
          <a href="http://fellows.tech.la/"><h6>FELLOWSHIP</h6></a>
        </div>
      </div>

      <div class = "footer-title-cont">
        <h2>BRUIN <span style = "color: #ffffff">ENTREPRENEURS.</span></h2>
        <p>Made with love from <span style="color:#F2758F">LA</span></p>
      </div>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>