/*@media (min-width:950px) {  big landscape tablets, laptops, and desktops  
*/
html, body {
  width: 100%;
  margin: 0px;
}
body {
  background-color: #072956;
  margin: 0 0 0 0;
}
h1, h2, p {
  color: #f5f1ed;
  font-family: 'Montserrat', Helvetica;
  margin: 0 0 0 0;
}
h1 {
  font-size: 2em;
}
h2 {
  color: #527edd;
  font-weight: bold;
  font-size: 55px;
}

h3{
  color: #072956;
  font-size: 33px;
  font-family: 'Montserrat', Helvetica;
  margin: 20px 0 20px 0;
}

h4{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: .6px;
  margin: 0 0 0 0;
  color: #072956;
  transform: translate(8px, -40%);
  position: relative;

}

h5{
/* JOIN US. */

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #072956;
  margin: 0 0 0 0;


}

h6{
  color: #FFFFFF;
  font-size: 13px;
  font-family: 'Montserrat';
  letter-spacing: 1.4px;
  font-weight: bold;
  font-style: normal;
}

p {
  font-family: 'Lato', Helvetica;
  color: #072956;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 120%;
  margin: 0 0 20px 0;
}
a {
  text-decoration: none;
  color: #f5f1ed;
}
a:hover {
  color: #527edd;
}

button:focus, button:hover{
  outline: 0px solid black;
}


/*-----------------LANDING PAGE------------------*/

#join-button{
  background-color: #527edd;
  border-width: 0px;
  width: 200px;
  height: 55px;
  margin: 12px 0 0 0;
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', Helvetica;
  box-shadow: 2px 2px 2px black;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}

.header-container{
  top: 60%;
  position: relative;
  left: 5%;
  width: 80%;
  height: auto;
  margin: 0 0 0 0;
}

.landing-page{
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-page .left-align{
  width: 75%;
  height: inherit;
  float: left;
  background-color: #072956;
  margin: 0 0 0 0;
  position: relative;
}

.landing-page .right-align{
  width: 25%;
  height: inherit;
  float: left;
  background-color: lightgray;
  margin: 0 0 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.top{
  flex:1;
  background-image: url("../assets/images/be_4.jpg");
  background-size: cover;
  background-position: center;
}
.bottom{
  flex:1;
  background-image: url("../assets/images/be_3.jpg");
  background-size: cover;
  background-position: center;

}

/*-----------------SECOND PAGE------------------*/

.second-page{
  background-color: lightgray;
  height: 100vh;
  position:relative;
  overflow: hidden;
}

.second-page .left-align{
  width: 50%;
  height: 100%;
  float: left;
  background-color: lightgray;
  margin: 0 0 0 0;
  position: relative;
  background-image: url("../assets/images/be_1.jpg");
  background-size: cover;
  background-position: center;
}

.second-page .right-align{
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f5f1ed;
  margin: 0 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
}

.second-page .right-align .text-box{
  width: 80%;
  left: 10%;
  position: relative;
}
/*-----------------THIRD PAGE------------------*/

.third-page{
  background-color: lightgray;
  height: 100vh;
  position:relative;
  overflow: hidden;
}

.third-page .right-align{
  width: 50%;
  height: 100%;
  float: left;
  background-color: lightgray;
  margin: 0 0 0 0;
  position: relative;
  background-image: url("../assets/images/be_5.jpg");
  background-size: cover;
  background-position: center;

}

.third-page .left-align{
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f5f1ed;
  margin: 0 0 0 0;
  position: relative;
}

.third-page .left-align .text-box{
  width: 80%;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.rectangleCL{
  width: 110px;
  height: 40px;
  position: relative;
  background-color: #F2758F;
  margin: 0 0 0 0;
}

.wide{
  width: 180px !important;
}


.rectangleLAHACKS{
  width: 180px;
  height: 40px;
  position: relative;
  background-color: #C0E0C2;
  margin: 0 0 0 0;
}

/*.rectangleBVEN{
  width: 210px;
  height: 40px;
  position: relative;
  background-color: #527edd;
  margin: 0 0 0 0;
}
*/



.ST-cont, .LA-cont, .CL-cont{
  flex: 1;
}

.ST-cont .rectangleCL {
  background-color: #527edd;
}

/*-----------------FOURTH PAGE------------------*/

.fourth-page{
  height: 70vh;
  background-color: #072956;
  position: relative;
  overflow: hidden;
}

.fourth-page .rectangle-container{
  width: 100vw;
  height: 40px;
  padding: 5px 0 0 0;
  top: 5%;
  left: 3%;
  position: relative;
}

.fourth-page .join-us-box{
  width: 50%;
  height: 80%;
  left: 50%;
  margin: 0 0 0 0;
  transform: translateX(-50%);
  background-color: #f5f1ed;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-us-box .title-cont{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us-box .p-cont{
  flex: 2;
  width: 75%;
  text-align: center;
}

.join-us-box .sign-up-cont{
  flex: 2;
  width: 100%;
  justify-content: center;
  display: flex;
}

#emailForm{
  width: 100%;
  display: flex;
}
.sign-up{
  width: 80%;
  background-color: white;
  height: 40px;
  display: flex;
}

.sign-up .text-input{
  border: 0px solid black;
  height: 100%;
  flex: 7;
  padding-left: 8px;
  font-family: 'Montserrat';
  color: black;
  font-size: 12px;}

.text-input:focus, .text-input:hover{
  outline: 0px solid black;
}

.sign-up .button{
  border: 0px solid black;
  height: 100%;
  flex: 3;
  background-color: #527EDD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  color: white;
  font-size: 12px;
}

/* FOOOTER */

.footer{
  height: 30vh;
  overflow: hidden;
}

.footer .link-container{
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.link-child{
  flex: 1;
  text-align: center;
}

.footer-title-cont{
  text-align: center;
}

.footer-title-cont h2{
  font-size: 20px;
}

.footer-title-cont p{
  color: white;
  font-size: 12px;
  letter-spacing: .3px;
  font-weight: lighter;
}
